.DS_Store
*.swp
*.swo
.actionScriptProperties
.project
.idea
bin-debug/
html-template/
.settings/
bin/
asdoc/
jsdoc/
obj/
.flexLibProperties
src/org/openvv/OVVVersion.as
/node_modules
/tests/test_site/ad/IAB-VPAID-Ad.swf
/tests/test_site/ad/OVVBeacon.swf
