@charset "utf-8";
body, html{
	font-family: Verdana, Geneva, sans-serif;
}
.chip {
	position:fixed;
	display:block;
	width:300px;
	height:auto;
	top:15px;
	right:15px;
	background-color:#000;
	color: #fff;
	text-align:left;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
	border:1px solid #FFF;
}

.header{
	height: 120px;
}

.light {
	color: #dff;
}
.dataViewBlock{
	position: relative;
}
.quartileViewWrapper{
	width: 300px;
	position: fixed;
	top: 270px;
	right: 15px;
	background-color: #ddd;
	border:1px solid #FFF;
	padding: 5px;
	border-radius: 3px;
}

.viewEngineDataWrapper{
	position: absolute;
	left: 300px;
	top: 10px;
	height: 140px;
	width: 400px;
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 10px;
	background-color: #ffe6cc;
}

.chip_shadow .title h3{
	margin-top: 2px;
	margin-bottom: 3px;
}

.quartileViewWrapper .scrollContent{
	overflow: auto;
	max-height: 300px;
}

.quartileViewData{
	padding: 3px;
	margin: 2px;
	border: 1px solid #fff;
	font-size: 0.8em;
}
.quartileViewData.inView{
	background-color: #006600;
	color: #fff;
}

.quartileViewData.inView.noFocus{
	background-color: #ffff66;
	color: #000;
}

.quartileViewData.notInView{
	background-color: #ff3300;
	color: #000;
}

div.underlined{
	border-bottom: 1px solid #fff;
}

.ovvParamBox{
	font-family: Verdana, Geneva, sans-serif;
	font-size: .8em;
}

.ovvParamBox button.close{
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 12;
}

.ovvParamBox > div > label {
	width: 150px;
	display: inline-block;
}

.chip_title {
	font-family:'InterstateBlackCondensedRg';
	font-size:14px;
	color:#FFF;
}
.chip_section {
	width:auto;
	height:auto;
}
.chip_bubble {
	width:100%;
	vertical-align:middle;
	margin-top:10px;
}
.chip_bubble_image {

}
.chip_bubble_title {
	font-family:'InterstateBlackCondensedRg';
	font-size:14px;
	color:#fff;
	padding-left:6px;
}
.chip_bubble_percent {
	font-family:InterstateBlackRegular;
	font-size:16px;
	color:#fff;
	text-align:right;
}
.chip_bubble_result {
	font-family:InterstateBlackCondensedRg;
	font-size:10px;
	text-align:center;
	background-color:#FFF;
	margin-right:6px;
	margin-left:6px;
	width:80px;
	padding-top:4px;
	padding-bottom:4px;
	margin-top:1px;
}
.viewable_color {
	background-color:#00B200;
}
.notviewable_color {
	background-color:#CC0000;
}
.viewable_text {
	color:#00B200;
}
.notviewable_text {
	color:#CC0000;
}
.chip_stats {
	vertical-align:middle;
	margin-top:10px;
	border:1px solid #FFF;
	padding-top:3px;
	padding-right:4px;
	padding-bottom:5px;
	padding-left:4px;
}
.chip_stat_title {
	font-family:InterstateBlackCondensedRg;
	font-size:14px;
	color:#CCC;
	text-align:right;
	vertical-align:bottom;
}
.chip_stat_number {
	font-family:InterstateBlackRegular;
	font-size:16px;
	color:#fff;
	text-align:left;
	vertical-align:bottom;
}
.chip_shadow {
	-webkit-box-shadow: 0px 0px 40px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 40px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 40px rgba(50, 50, 50, 1);
}
@font-face {
    font-family:'InterstateBlackCondensedRg';
    
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'InterstateRegular';
    src:url('_fonts/interstate-regular-webfont.eot');
    src:url('_fonts/interstate-regular-webfont.eot?#iefix') format('embedded-opentype'),
    
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'InterstateBlackRegular';
    src:url('_fonts/interstate-black-webfont.eot');
    src:url('_fonts/interstate-black-webfont.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}